// fonts //
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

// Variables //

$p-color: #5168ec;
$s-color: #fff;
$bg-color: #f7f7fc;

// Resets //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

// Global //

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Montserrat", sans-serif;
    font-smooth: auto;
    background-color: $bg-color;
}
a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1105px) 1fr;
    padding: 5rem 1rem;
}

.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
#addLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#addLinkContainer.hidden {
    display: none;
}
.category {
    font-size: 10px;
    background: #333;
    color: #fff;
    padding: 0.3rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.7;
}
.nav-header {
    display: flex;
    img {
        max-width: 30px;
        margin-right: 1rem;
    }
}
// Buttons //
input[type="submit"],
button {
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid $p-color;
    background-color: $p-color;
    color: $s-color;
    font-size: 0.8rem;
    margin-top: 1.5rem;

    &:hover {
        cursor: pointer;
        color: $p-color;
        background-color: $s-color;
    }
}
.btn-sm {
    font-size: 10px;
    padding: 5px 10px;
    margin: 0;
}

// Navbar //

#nav {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1105px) 1fr;
    justify-content: center;
    align-items: center;
    background: #5168ec;
    height: 60px;

    #navContainer {
        grid-column: 2;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            padding: 0 1rem;
        }

        h1 {
            color: $s-color;
            align-self: center;
        }
        a {
            color: $s-color;
            font-size: 2rem;

            &:after {
                content: "+";
            }
        }
    }
}

// Panel //

.panel {
    background-color: $s-color;
    border-radius: 4px;
    box-shadow: 0 16px 32px 0 rgba(23, 43, 77, 0.08);
    padding: 2rem;
    // grid-column: 2;

    .panel-heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #333;
    }
    .form-control {
        width: 100%;
        margin: 8px 0;
        height: 34px;
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        padding: 5px 15px;
        color: #333;

        &:hover,
        &:focus {
            border: 1px solid $p-color;
            outline: none;
        }
        &:not(:placeholder-shown) {
            border: 1px solid $p-color;
        }
    }
    .cta {
        display: flex;
        justify-content: space-between;
    }
}

// Link
#linksList {
    grid-column: 2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.link {
    position: relative;

    .link-options {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .link-date {
        font-size: 14px;
        font-style: italic;
    }
    .categories {
        display: flex;
        margin: 1rem 0;
    }
}
